<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: sans-serif;
  }
  label {
    display: block;
    margin-bottom: .2em;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  justify-content: center;
  flex-direction:column;
  align-items:center;
}

</style>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: sans-serif;
  }
  label {
    display: block;
    margin-bottom: .2em;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

</style>


<form name="contact" method="POST" data-netlify="true" action="/success" data-netlify-honeypot="bot-field">


  <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contactez Nous</h2>
                    <hr class="star-primary">
                </div>
            </div>
    
    <label for="fname">Votre nom</label>
    <input type="text" id="name" name="Nom du Cient" placeholder="...">
    

    <label for="email">Votre email</label>
    <input type="text" placeholder="..." name="Email du Client" required="">
<p>
    <label for="phone">Votre N° de Téléphone</label>
<input type="tel" id="phone" name="phone" pattern="[0-9]{8}"></p>
  <br>
<p>
    <label>
      <span>Ajouter un fichier:</span>
      <input name="file" type="file">
    </label>
  </p>
  <br>
<p>
    <label for="subject">Votre message</label>
    <textarea id="subject" name="subject" placeholder="..." style="height:200px"></textarea>
</p>   
<p>
    <input type="submit" value="Envoyer">
    </p>
  
</div></form> </section>
<iframe src="https://www.google.com/maps/d/embed?mid=1SrqjQluv5YDvn34tVGzozmWgvWzUuQo&ehbc=2E312F" width="100%" height="480"></iframe>  
